
aside{
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.layout_main_body
{
    height: 100%;
    width: 100%;
    position: relative;
}
.sidebar{
    float: left;
    width: 18%;
    height: 100vh;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    transition: 0.4s;
    border-radius: 12px;
    transition: 0.3s;
}

.sidebar.closed {
    /* display: none;  */
     /* Sidebar hidden */
     width: 3%;
     transition: 0.4s;

     
  }


  .closed-menu-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 15px;
    font-size: 25px;
    background-color: transparent;
    color: black;
  }

.close-btn{
    float: right;
    width: 50%;
    display: flex;
    justify-content: end;
    height: 30px;
    font-size: 25px;
    background-color: transparent;
    color: black;
    

}

/* .hide-sidbar{
    left: -99px;
} */
.show-name
{
    display: block;
    transition: 0.6s;

}

.closed-navlink{
    display: flex;
    align-items: center;
    gap:25px ;
    line-height: 40px;
    font-size: 22px;
    margin-top: 30px;
    transition: 0.3s;
    text-decoration: none;
    color: black;
    
}
.Dashboard-links{
    display: flex;
    align-items: center;
    gap:25px ;
    line-height: 35px;
    padding: 5px 8px;
    color: black;
    font-size: 22px;
}


.hide-name{
    display: none;
    transition: 0.4s;
}
.logo_in_sidebar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
}
#sidebar_links-closed{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 10px;
    line-height: 25px;
    transition: 0.4s;
    align-items: center;
}

#sidebar_links{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
    line-height: 25px;
    transition: 0.2s;
}

.sidebar-active .active{
    background-color: #717171;
    padding: 5px 8px;
    border-radius: 10px;
    /* height: auto; */
    color: white;
}

#text-decoration{
    text-decoration: none;
    
}
.sidebar_link_card{
    padding: 15px 30px;
    display: flex;
    gap: 20px;
    justify-content: start;
    background-color: #F9F9F9;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    color: #717171;
    transition: 0.3s;
}
.sidebar_link_card-selected{
    padding: 15px 30px;
    display: flex;
    gap: 20px;
    justify-content: start;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    background-color: #E7E7E7;
    color: #008CFF;
    
}
.svg_color{
    fill: #717171;
}
.svg_color_selected{
    fill: #008CFF;
}
.sidebar_link_card:hover{
    background-color: #f1f1f1;
}

main{
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 100wh;
}

.main-content {
    flex: 1;
    transition: margin-left 0.3s ease, width 0.3s ease;
    padding: 0px 10px;
    background-color: #ffe0e5;
  }
  
  .main-content.sidebar-open {
    margin-left: 250px; /* Main content margin when sidebar is open */
  }
  
  .main-content.sidebar-closed {
    margin-left: 0;
    width: auto; /* Take up full width when sidebar is closed */
  }
.main-navbar{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 0px;
    font-weight: bold;
    color: #008CFF;
}

.open-menu-icon{
    transform: rotate(-90deg);
}

.close-menu-icon{
    transform: rotate(90deg);
}
.menu_bars{
    display: none;
    height: 40px;
    width: 40px;
    min-width: 40px;
    /* background-color: black; */
}
.navBar_Heading{
    width: 90%;
}
#user_notify_icons_div{
    width: 10%;
    min-width: 90px;
    display: flex;
    justify-content: space-between;
}
#user_notify_icons_div div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: #008CFF;
    transition: 0.2s;
    cursor: pointer;
}


@media (max-width:940px) {
    .Dashboard-links{
        display: flex;
        flex-direction: column;
        /* line-height: 1px; */
        background-color: #ccc;
        gap: 1px;
        border-radius: 10px;
        padding: 12px;
    }
    
    .active{
        background-color: #008CFF;
        color: white;
        font-weight: 500;
        transition: 0.1s;
        
    }


}

@media (max-width: 768px) { 
    body { font-size: 16px; width: 100%; height: 100vh; }


     
   .Dashboard-links
   {
     background-color: transparent;
     line-height: 30px;
     padding: 0px;
     display: flex;
     flex-direction: row;
     gap: 15px;
     align-items: center;
     justify-content: flex-start;
     color: black;
  }

  #sidebar-main{
    position: absolute;
    /* left: -999px; */

  }


  .closed-menu-btn{
    font-size: 56px;
  }

  .layout_main_body
  {
    width: 100%;
    height: auto;
  }
  
  #sidebar-mainshow{
    position: absolute;
    transition: 0.3s;
    z-index: 2000;
     }
    
#sidebar-mainhide{
        position: absolute;
       transition: 0.3s;
        left: -999px;
      }

      .sidebar.closed {
         width: 100%;
         transition: 0.4s;
    
         
      }
  #sidebar_links{
    display: flex;
    /* border: 2px solid red; */
   margin-left: 10px;
    width: 100%; 
    margin-bottom: 2px;
    height: 100%;
  }

  #sidebar_links{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 25px;
    line-height: 0px;
    transition: 0.2s;
}

.sidebar.open{
    transition: 0.3s;
}
  .sidebar
  {
      width: 90%;
      transition: 0.3s;
  }



  #menu-btn-sidebar{
    display: none;
  }
  /*

  .sidebar-links{
    display: flex;
    align-items: center;
    line-height: 30px;
  }
  
    .sidebar
    {
        width: 100%;
        height: 20px;
        padding: 15px 0px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .sidebar-active{
        padding: 5px 8px;
        background-color: white;
        border-radius: 8px;
    }
  
    .sidebar-active .active{
        background-color: #717171;
        padding: 5px 8px;
        border-radius: 8px;
        color: white;
        
    } */

/* 
    #sidebar-main{
        width: 100%;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar.open{
        display: flex;
        align-items:center;
        justify-content: center;

    } */
    
   .main-navbar{
    padding: 0px;
   }
    .active{
        background-color: transparent;
        color: black;
        font-weight: 500;
        transition: 0.1s;
    }


   
    .show-name{
        display: block;
    }

    .close-btn
    {
        /* display: none; */
    }
    
    main{
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
    }
    
    .main-content {
        flex: 1;
        transition: margin-left 0.3s ease, width 0.3s ease;
        padding: 20px;
        background-color: #ffe0e5;
      }
      
      .main-content.sidebar-open {
        /* margin-left: 250px; Main content margin when sidebar is open */
        margin-left: 0px;
      }

      .main-content{
        padding: 0;
      }

  }