.category-products-container
{
    padding: 20px;
    background-color: #ffe0e5;
    margin-top: 20px;
    height: 100vh;
}

.products-grid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.price-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.product-card h3{
    margin-top: 20px;
}
.product-card
{
    padding: 15px;
    background-color: white;
    height: 350px;
    width: 250px;
    margin: 30px;
    border-radius: 7px;
}

.product-card img{
    border-radius: 7px;
    height: 250px;
    width: 250px;
}


@media (max-width:768px){

    .top-bar p{
        font-size: 18px;
    }
    .products-grid
    {
        grid-template-columns:repeat(2 ,1fr);
        gap: 40px;
        display: flex;
        align-items: center;
         justify-content: flex-start;

        
    }

    .product-card{
        padding: 0px;
        background-color: white;
        height: 200px;
        width: 160px;
        margin: 0px;
        border-radius: 7px;
    }

    .product-card h3{
        margin:0px 0px 0px 3px;
        font-size: 13px;
        
    }
    .product-card img{
        border-radius: 7px;
        height: 150px;
        width: 160px;
    }

    .price-section{
        width: 100%;
        padding: 3px 0px;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        gap: 15px;
    }

    .price-section p{
        font-size: 12px;
    }
}